<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="manifest" href="/manifest.json">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <a href="/insert">Add a new plant</a>
        <br>
        <ol id="plant_list">
            <% data.forEach(plant => { %>
            <li><%= plant.description %></li>
            <% }); %>
        </ol>
    </body>
    <script src="/javascripts/db.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/idb-utility.js"></script>
</html>
