<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/images/plant-icon.png" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/db.js"></script>
    <script src="/javascripts/insert.js"></script>
    <script src="/javascripts/idb-utility.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
  </head>
  <body>
    <%- include('header.ejs') %>
    <form id="add_form">
      <label for="name">Plant Name:</label>
      <input id="name" type="text" name="identification.name">

      <label for="photo">Photo:</label>
      <input type="file" id="photo" name="photo" accept="image/*" required>

      <label for="location">Location:</label>
      <input type="hidden" id="latitude" name="latitude" required>
      <input type="hidden" id="longitude" name="longitude" required>
      <div id="map" style="height: 200px;"></div>
      <script>
        const map = L.map('map').setView([<%= sheffieldCoords %>], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
          maxZoom: 18,
        }).addTo(map);

        let marker = null;

        map.on('click', function(e) {
          const { lat, lng } = e.latlng;
          if (marker) {
            map.removeLayer(marker);
          }
          marker = L.marker([lat, lng]).addTo(map);
          document.getElementById('latitude').value = lat;
          document.getElementById('longitude').value = lng;
        });
      </script>

      <label for="dateTimeSeen">Date and Time Seen:</label>
      <input id="dateTimeSeen" type="datetime-local" name="dateTimeSeen" required value="<%= dateTimeSeen %>">

      <label for="description">Description:</label>
      <textarea id="description" name="description" required></textarea>

      <label for="height">Plant Height:</label>
      <input id="height" type="number" name="plantSize.height" required>

      <label for="spread">Plant Spread:</label>
      <input id="spread" type="number" name="plantSize.spread" required>

      <div class="checkbox-row">
        <div class="checkbox-item">
          <label for="hasFlowers">Has Flowers:</label>
          <input id="hasFlowers" type="checkbox" name="plantCharacteristics.hasFlowers">
        </div>

        <div class="checkbox-item">
          <label for="hasLeaves">Has Leaves:</label>
          <input id="hasLeaves" type="checkbox" name="plantCharacteristics.hasLeaves">
        </div>

        <div class="checkbox-item">
          <label for="hasFruitsOrSeeds">Has Fruits or Seeds:</label>
          <input id="hasFruitsOrSeeds" type="checkbox" name="plantCharacteristics.hasFruitsOrSeeds">
        </div>
      </div>

      <label for="sunExposure">Sun Exposure:</label>
      <select id="sunExposure" name="plantCharacteristics.sunExposure">
        <option value="fullSun">Full Sun</option>
        <option value="partialShade">Partial Shade</option>
        <option value="fullShade">Full Shade</option>
      </select>

      <label for="flowerColor">Flower Color:</label>
      <input id="flowerColor" type="text" name="plantCharacteristics.flowerColor">

<!--      <label for="status">Identification Status:</label>-->
      <input id="status" name="identification.status" value="inProgress" type="hidden">

<!--      <label for="dbpediaURI">DBPedia URI:</label>-->
<!--      <input id="dbpediaURI" type="text" name="identification.dbpediaURI">-->

<!--      <label for="userNickname">User Nickname:</label>-->
      <input id="userNickname" type="hidden" name="userNickname">

      <button id="add_btn" class="new_plant" type="submit">Add</button>
    </form>
  </body>
</html>
