body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* Form */
form#add_form {
  margin: 0 auto;
  width: 50%;
}

form#add_form label {
  display: block;
  margin-top: 20px;
}

form#add_form input[type="text"],
form#add_form input[type="datetime-local"],
form#add_form input[type="number"],
form#add_form select,
form#add_form textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

form#add_form input[type="checkbox"] {
  margin-top: 10px;
}

form#add_form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #00b7ff;
  color: white;
  border: none;
  cursor: pointer;
}

form#add_form button:hover {
  background-color: #0091cc;
}

form#add_form .checkbox-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

form#add_form .checkbox-row label {
  margin: 0;
}

form#add_form .checkbox-row input {
  margin: 0;
}

form#add_form .checkbox-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Header */
.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background: bisque;
  margin-bottom: 8px;
  padding: 0 20px;
}
.header a {
    color: #000000;
    text-decoration: none;
}
.header .header-right {
    display: flex;
    gap: 10px;
}

/* Grid */
.index_grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  overflow: hidden;
  height: calc(100vh - 90px);
}

.plant_container {
    flex: 1;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 20px;
    overflow-y: auto;
}

/* Plant Card */
.plant_card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background: #f9f9f9;
}

.plant_card .plant_image {
  background: white;
}

.plant_card .plant_image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

/* Search */
.search_container {
  padding: 10px;
}

.search_container div {
  margin-bottom: 20px;
}

.search_container h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.search_container .searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_container .searchbar .search_input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 5px;
}

.search_container .searchbar .search_button {
  padding: 8px;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
}

/* Plant */
.plant_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.plant_grid .plant_card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  background: #f9f9f9;
}

.plant_grid .plant_card .plant_image {
  background: white;
}

.plant_grid .plant_card .plant_image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

/* DBPedia suggest */
.suggest-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggest-name .suggest-name-input {
  display: flex;
}

.suggest-name-input .search_button {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Suggestions */
.suggestions_card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background: #f9f9f9;
}
.suggestions_card h2 {
    margin-top: 0px;
}

/* Settings */
.nickname_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 90px);
}

.nickname_card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background: #f9f9f9;

}
.nickname_card h2 {
  margin-top: 0px;
}

.nickname_card .nickname_input {
  display: flex;
}
.nickname_card #nicknameInput {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.nickname_card #saveButton {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}